<ion-header>
  <ion-toolbar>
    <ion-title>
      Metric Converter
      <p>by: Mikael Pemba</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <input type="text" placeholder="Input" id="input">
      <span>=</span>
      <input type="text" placeholder="Result" id="result">

      <select id="inputType">
        <option value="meter">Meter</option>
        <option value="kilometer">KiloMeter</option>
        <option value="centimeter">CentiMeter</option>
      </select>

      <select id="resultType">
        <option value="meter">Meter</option>
        <option value="kilometer">KiloMeter</option>
        <option value="centimeter">CentiMeter</option>
      </select>
    </ion-card-content>
  </ion-card>
</ion-content>
